In [ ]:
!xed ~/.bashrc

In [ ]:
!export HIVE_HOME=/home/wirarama/hive
!export PATH=$PATH:$HIVE_HOME/bin

In [ ]:
!~/hadoop/bin/hdfs namenode -format

In [ ]:
!~/hadoop/sbin/start-dfs.sh

http://localhost:50070/

In [ ]:
!~/hadoop/bin/hdfs dfs -mkdir /tmp
!~/hadoop/bin/hdfs dfs -chmod g+w /tmp

In [ ]:
!hive -e 'create database test_db;'

In [ ]:
!hive -e 'use test_db;create table t(id int);'

In [ ]:
!hive -e 'drop database test cascade;'

In [ ]:
#testquerycsv-edit.sql
create database if not exists test2;
create table test.sample (tgl STRING, a INT, b INT, c INT, d INT) row format delimited fields terminated by ',' stored as textfile;
use test; 
show tables;
load data local inpath 'DataWaktu.csv' into table test.sample;
select * from sample limit 50;

In [ ]:
!hive -f ~/hive/test/testquerycsv-edit.sql

In [ ]:
!~/hadoop/bin/hdfs dfs -ls /user/hive/warehouse/

In [ ]:
!hive -e 'SELECT * FROM test2.sample LIMIT 20;'

In [ ]:
!~/hadoop/sbin/stop-dfs.sh