In [1]:
spark = SparkSession.builder.appName("pysparkClustering").getOrCreate()

In [2]:
df = spark.read.csv('vgsales.csv',inferSchema=True,header='true')

In [3]:
df.columns

['Rank',
 'Name',
 'Platform',
 'Year',
 'Genre',
 'Publisher',
 'NA_Sales',
 'EU_Sales',
 'JP_Sales',
 'Other_Sales',
 'Global_Sales']

In [3]:
from pyspark.ml.feature import VectorAssembler
assembler = VectorAssembler(inputCols=['NA_Sales','EU_Sales','JP_Sales'],
                            outputCol='features')
data = assembler.transform(df)

K-Means

In [5]:
from pyspark.ml.clustering import KMeans
kmeans = KMeans().setK(4).setSeed(1) #berapa bagian? 4
model = kmeans.fit(data)

In [6]:
predictions = model.transform(data)

In [8]:
predictions.select('features','prediction').toPandas()

                   features  prediction
0      [41.49, 29.02, 3.77]           1
1       [29.08, 3.58, 6.81]           1
2      [15.85, 12.88, 3.79]           1
3      [15.75, 11.01, 3.28]           1
4      [11.27, 8.89, 10.22]           1
...                     ...         ...
16593      [0.01, 0.0, 0.0]           0
16594      [0.01, 0.0, 0.0]           0
16595       (0.0, 0.0, 0.0)           0
16596      [0.0, 0.01, 0.0]           0
16597      [0.01, 0.0, 0.0]           0

[16598 rows x 2 columns]

In [9]:
predictions.select('NA_Sales','EU_Sales','JP_Sales').filter('prediction = 1').summary().toPandas()

  summary            NA_Sales           EU_Sales          JP_Sales
0   count                  11                 11                11
1    mean  19.867272727272727  8.972727272727273  4.24909090909091
2  stddev   9.372031893788122  7.649181774424099  2.87100489217784
3     min               11.27               0.63              0.24
4     25%               14.03               3.58              2.93
5     50%               15.75               8.89              3.79
6     75%               26.93              11.01               6.5
7     max               41.49              29.02             10.22

In [10]:
predictions.select('NA_Sales','EU_Sales','JP_Sales').filter('prediction = 0').summary().toPandas()

  summary             NA_Sales             EU_Sales             JP_Sales
0   count                15480                15480                15480
1    mean  0.13648643410853414   0.0735775193798376  0.05601291989663795
2  stddev   0.1853953051139372  0.13665233211755576  0.18576113149009407
3     min                  0.0                  0.0                  0.0
4     25%                  0.0                  0.0                  0.0
5     50%                 0.07                 0.02                  0.0
6     75%                 0.19                 0.08                 0.03
7     max                  1.1                 1.58                 4.87

In [11]:
from pyspark.ml.evaluation import ClusteringEvaluator
evaluator = ClusteringEvaluator()

In [12]:
silhouette = evaluator.evaluate(predictions)
print("Silhouette with squared euclidean distance = " + str(silhouette))

Silhouette with squared euclidean distance = 0.8986214827769562

In [13]:
centers = model.clusterCenters()
print("Cluster Centers: ")
for center in centers:
    print(center)

Cluster Centers:
[0.13637421 0.07355795 0.05602016]
[19.86727273  8.97272727  4.24909091]
[1.544      0.88545631 0.23396117]
[5.99101266 3.60607595 1.7243038 ]

Latent Dirichlet allocation (LDA)
lambat banget (warning)

In [14]:
from pyspark.ml.clustering import LDA
lda = LDA(k=10, maxIter=10)
model = lda.fit(data)

ll = model.logLikelihood(data)
lp = model.logPerplexity(data)
print("The lower bound on the log likelihood of the entire corpus: " + str(ll))
print("The upper bound on perplexity: " + str(lp))

The lower bound on the log likelihood of the entire corpus: -24613.388494579278
The upper bound on perplexity: 3.03191491784746

In [15]:
topics = model.describeTopics(3)
print("The topics described by their top-weighted terms:")
topics.show(truncate=False)

The topics described by their top-weighted terms:
+-----+-----------+---------------------------------------------------------------+
|topic|termIndices|termWeights                                                    |
+-----+-----------+---------------------------------------------------------------+
|0    |[0, 2, 1]  |[0.38152901494784214, 0.3366416106997798, 0.2818293743523781]  |
|1    |[0, 2, 1]  |[0.38248289673851804, 0.33005936947175796, 0.28745773378972395]|
|2    |[1, 0, 2]  |[0.733603168399181, 0.213379969998613, 0.053016861602205874]   |
|3    |[0, 2, 1]  |[0.4182424631439844, 0.2921478841032863, 0.2896096527527292]   |
|4    |[0, 1, 2]  |[0.719563813998215, 0.2337436577305689, 0.04669252827121626]   |
|5    |[0, 2, 1]  |[0.4237702089542662, 0.31866703317427625, 0.25756275787145755] |
|6    |[1, 0, 2]  |[0.3661606194485121, 0.33637183729159215, 0.2974675432598958]  |
|7    |[1, 0, 2]  |[0.4826063364547157, 0.48206889050717433, 0.03532477303810992] |
|8    |[2, 0, 1]  |[0.8426979502826509, 0.10254339146422321, 0.054758658253125744]|
|9    |[2, 0, 1]  |[0.38236938720278096, 0.37140347169419424, 0.2462271411030247] |
+-----+-----------+---------------------------------------------------------------+

In [16]:
transformed = model.transform(data)
transformed.show(truncate=False)

+----+--------------------------------------------+--------+----+------------+----------------------+--------+--------+--------+-----------+------------+------------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|Rank|Name                                        |Platform|Year|Genre       |Publisher             |NA_Sales|EU_Sales|JP_Sales|Other_Sales|Global_Sales|features          |topicDistribution                                                                                                                                                                                                     |
+----+--------------------------------------------+--------+----+------------+----------------------+--------+--------+--------+-----------+------------+------------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|1   |Wii Sports                                  |Wii     |2006|Sports      |Nintendo              |41.49   |29.02   |3.77    |8.46       |82.74       |[41.49,29.02,3.77]|[0.0013176249667082114,0.0013175998233237382,0.30024318314052795,0.001317642511674958,0.689143335462445,0.001317616813903317,0.0013174264084429245,0.001346872908960137,0.0013611774277423616,0.001317520536271251]   |
|2   |Super Mario Bros.                           |NES     |1985|Platform    |Nintendo              |29.08   |3.58    |6.81    |0.77       |40.24       |[29.08,3.58,6.81] |[0.0024506856181467345,0.0024506371677895074,0.0024804332319107378,0.002450720385400203,0.8317257134718964,0.002450687786368166,0.0024502740333620645,0.0025049656900398448,0.14858537539794947,0.002450507217136887] |
|3   |Mario Kart Wii                              |Wii     |2008|Racing      |Nintendo              |15.85   |12.88   |3.79    |3.31       |35.82       |[15.85,12.88,3.79]|[0.0029590148457213634,0.002958947121304049,0.3652142957968839,0.002958992943175124,0.6109501608981006,0.0029589679368510445,0.0029585147091470807,0.0030243908272687497,0.003057880854184146,0.0029588340673640553]  |
|4   |Wii Sports Resort                           |Wii     |2009|Sports      |Nintendo              |15.75   |11.01   |3.28    |2.96       |33.0        |[15.75,11.01,3.28]|[0.003195335253998062,0.0031952633880303937,0.28674057446165313,0.0031953179603771194,0.6875203317088829,0.003195286760631174,0.0031948029633895626,0.003265970790650692,0.003301983129594468,0.0031951335827925128]  |
|5   |Pokemon Red/Pokemon Blue                    |GB      |1996|Role-Playing|Nintendo              |11.27   |8.89    |10.22   |1.0        |31.37       |[11.27,8.89,10.22]|[0.0031604443988343823,0.003160384590008896,0.22595081351167437,0.0031604892211452443,0.3983074912364811,0.003160424933719817,0.0031599731978368363,0.0032306299071663087,0.3535491591026231,0.0031601899005097907]   |
|6   |Tetris                                      |GB      |1989|Puzzle      |Nintendo              |23.2    |2.26    |4.22    |0.58       |30.26       |[23.2,2.26,4.22]  |[0.0032324873610069206,0.0032324224623518248,0.003271661086419365,0.0032325299716156265,0.8668306865363836,0.0032324917235730926,0.0032319334016183534,0.003304043980608969,0.10719948533654969,0.0032322581398723568]|
|7   |New Super Mario Bros.                       |DS      |2006|Platform    |Nintendo              |11.38   |9.23    |6.5     |2.9        |30.01       |[11.38,9.23,6.5]  |[0.0035279861285896683,0.0035279190247640723,0.2757816902270036,0.0035280344229913904,0.46644706144626863,0.003527963845558153,0.003527457940927695,0.0036063223460831195,0.23299786075285805,0.003527703864955536]   |
|8   |Wii Play                                    |Wii     |2006|Misc        |Nintendo              |14.03   |9.2     |2.93    |2.85       |29.02       |[14.03,9.2,2.93]  |[0.003651686498529095,0.003651603694579879,0.24783703818826514,0.0036516624854074997,0.7227478135624313,0.0036516281939865214,0.0036510768372993055,0.0037323964310277797,0.003773635353113496,0.0036514587553597884] |
|9   |New Super Mario Bros. Wii                   |Wii     |2009|Platform    |Nintendo              |14.59   |7.06    |4.7     |2.26       |28.62       |[14.59,7.06,4.7]  |[0.003626023005869516,0.003625954729058009,0.0036706076538339637,0.0036260681835080847,0.8136413236692195,0.003625986748756863,0.0036255069788039547,0.0037065991091082447,0.1572262051735087,0.0036257247483332212]  |
|10  |Duck Hunt                                   |NES     |1984|Shooter     |Nintendo              |26.93   |0.63    |0.28    |0.47       |28.31       |[26.93,0.63,0.28] |[0.003438399925159943,0.0034383385476688287,0.0034801044080997644,0.00343849547708533,0.9688241970637215,0.003438440042447746,0.0034378224022057233,0.0035146895283020394,0.0035513875403157566,0.003438125064993535] |
|11  |Nintendogs                                  |DS      |2005|Simulation  |Nintendo              |9.07    |11.0    |1.93    |2.75       |24.76       |[9.07,11.0,1.93]  |[0.004311751330400242,0.004311659777724001,0.5572070001113426,0.004311760655141233,0.4080612703522361,0.004311703725566092,0.004311054020795147,0.004407222498218275,0.004455124677358171,0.004311452851218089]       |
|12  |Mario Kart DS                               |DS      |2005|Racing      |Nintendo              |9.81    |7.57    |4.13    |1.92       |23.42       |[9.81,7.57,4.13]  |[0.004405351632067936,0.0044052672569296035,0.2683237887020817,0.004405408180630357,0.529386133550551,0.004405321027058094,0.004404691457978268,0.004503159783790382,0.17135587711050057,0.004405001298412206]        |
|13  |Pokemon Gold/Pokemon Silver                 |GB      |1999|Role-Playing|Nintendo              |9.0     |6.18    |7.2     |0.71       |23.1        |[9.0,6.18,7.2]    |[0.004241473125487637,0.004241393052757454,0.16300397292769248,0.004241531894991039,0.47399937106855966,0.004241442501284277,0.0042408497945694715,0.004335691624380697,0.33321314548864606,0.0042411285216311274]    |
|14  |Wii Fit                                     |Wii     |2007|Sports      |Nintendo              |8.94    |8.03    |3.6     |2.15       |22.72       |[8.94,8.03,3.6]   |[0.004597263739397625,0.004597175181828817,0.3449205053741806,0.004597321309127945,0.47394825108489325,0.004597232646016964,0.0045965692428762165,0.004699316166751938,0.14884946430536683,0.004596900949559708]      |
|15  |Wii Fit Plus                                |Wii     |2009|Sports      |Nintendo              |9.09    |8.59    |2.53    |1.79       |22.0        |[9.09,8.59,2.53]  |[0.004675752821975225,0.004675643165618219,0.43157349766093733,0.004675704715912003,0.5307620793048237,0.004675672613764788,0.004674949505304035,0.00477899899125125,0.004832222273256711,0.004675478947156755]       |
|16  |Kinect Adventures!                          |X360    |2010|Misc        |Microsoft Game Studios|14.97   |4.94    |0.24    |1.67       |21.82       |[14.97,4.94,0.24] |[0.004688213491781181,0.004688134267264279,0.004745872753839916,0.004688332911259709,0.9574909573492452,0.004688211492357688,0.004687555625575768,0.004792719358548184,0.004842210667838508,0.004687792082289604]     |
|17  |Grand Theft Auto V                          |PS3     |2013|Action      |Take-Two Interactive  |7.01    |9.27    |0.97    |4.14       |21.4        |[7.01,9.27,0.97]  |[0.005433212795932292,0.005433107095311904,0.5953550692395474,0.005433279116635172,0.3608802306081678,0.005433178980163846,0.005432379467671715,0.00555379758364553,0.005612956052402523,0.005432789060521564]        |
|18  |Grand Theft Auto: San Andreas               |PS2     |2004|Action      |Take-Two Interactive  |9.43    |0.4     |0.41    |10.57      |20.81       |[9.43,0.4,0.41]   |[0.00881861823337409,0.008818445816996024,0.00892533653413389,0.008818777579207567,0.9200413318397911,0.008818673504579023,0.00881708334329097,0.009013897950654064,0.009109856871821354,0.008817978326152168]        |
|19  |Super Mario World                           |SNES    |1990|Platform    |Nintendo              |12.78   |3.75    |3.54    |0.55       |20.61       |[12.78,3.75,3.54] |[0.004706287923160781,0.004706196445671072,0.004763798464079034,0.004706346141734071,0.812793002680358,0.004706262411763353,0.004705558919422489,0.0048106954139573695,0.14939592689838668,0.004705924701467102]      |
|20  |Brain Age: Train Your Brain in Minutes a Day|DS      |2005|Misc        |Nintendo              |4.75    |9.26    |4.16    |2.05       |20.22       |[4.75,9.26,4.16]  |[0.005172675898329167,0.005172575862185443,0.7348778462277878,0.005172769525335518,0.005717492729798438,0.005172677293982928,0.005171847642503598,0.0052876170433969255,0.22308223637726624,0.0051722613994139984]    |
+----+--------------------------------------------+--------+----+------------+----------------------+--------+--------+--------+-----------+------------+------------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

Gaussian Mixture Model (GMM)

In [12]:
from pyspark.ml.clustering import GaussianMixture
gmm = GaussianMixture().setK(2).setSeed(538009335)
model = gmm.fit(data)

In [13]:
print("Gaussians shown as a DataFrame: ")
model.gaussiansDF.show(truncate=False)

Gaussians shown as a DataFrame:
+-------------------------------------------------------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|mean                                                         |cov                                                                                                                                                                                                       |
+-------------------------------------------------------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|[0.16734408828256747,0.08257419072082968,0.03442008954599476]|0.20390518066846927   0.08425647918484716   0.023909633075897767  \n0.08425647918484716   0.06230993349184427   0.012639020881452995  \n0.023909633075897767  0.012639020881452995  0.014652479156781393  |
|[1.4828249035134367,0.948688482602826,0.6205211598027919]    |4.859977653828269   2.17280698940541     0.5223368979638543   \n2.17280698940541    1.9770960446191157   0.29191017581273626  \n0.5223368979638543  0.29191017581273626  0.7914302757532451               |
+-------------------------------------------------------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+