https://sparkbyexamples.com/pyspark/install-pyspark-in-anaconda-jupyter-notebook/

https://www.sicara.fr/blog-technique/2017-05-02-get-started-pyspark-jupyter-notebook-3-minutes

In [ ]:
!conda install openjdk

In [ ]:
!conda install pyspark

In [ ]:
!conda install -c conda-forge findspark

In [1]:
import findspark
findspark.init()
findspark.find()

'/usr/local/anaconda3/lib/python3.9/site-packages/pyspark'

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("testApp").getOrCreate()

22/11/09 08:41:21 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

ganti avocado price dengan vgsales

In [3]:
df = spark.read.csv('avocado.csv',inferSchema=True,header='true')

In [4]:
df.show()

22/11/09 08:45:01 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , Date, AveragePrice, Total Volume, 4046, 4225, 4770, Total Bags, Small Bags, Large Bags, XLarge Bags, type, year, region
 Schema: _c0, Date, AveragePrice, Total Volume, 4046, 4225, 4770, Total Bags, Small Bags, Large Bags, XLarge Bags, type, year, region
Expected: _c0 but found:
CSV file: file:///Users/wiraramawedashwara/python/FGA/BPDFGA/avocado.csv
+---+-------------------+------------+------------+-------+---------+------+----------+----------+----------+-----------+------------+----+------+
|_c0|               Date|AveragePrice|Total Volume|   4046|     4225|  4770|Total Bags|Small Bags|Large Bags|XLarge Bags|        type|year|region|
+---+-------------------+------------+------------+-------+---------+------+----------+----------+----------+-----------+------------+----+------+
|  0|2015-12-27 00:00:00|        1.33|    64236.62|1036.74| 54454.85| 48.16|   8696.87|   8603.62|     93.25|        0.0|conventional|2015|Albany|
|  1|2015-12-20 00:00:00|        1.35|    54876.98| 674.28| 44638.81| 58.33|   9505.56|   9408.07|     97.49|        0.0|conventional|2015|Albany|
|  2|2015-12-13 00:00:00|        0.93|   118220.22|  794.7|109149.67| 130.5|   8145.35|   8042.21|    103.14|        0.0|conventional|2015|Albany|
|  3|2015-12-06 00:00:00|        1.08|    78992.15| 1132.0| 71976.41| 72.58|   5811.16|    5677.4|    133.76|        0.0|conventional|2015|Albany|
|  4|2015-11-29 00:00:00|        1.28|     51039.6| 941.48| 43838.39| 75.78|   6183.95|   5986.26|    197.69|        0.0|conventional|2015|Albany|
|  5|2015-11-22 00:00:00|        1.26|    55979.78|1184.27| 48067.99| 43.61|   6683.91|   6556.47|    127.44|        0.0|conventional|2015|Albany|
|  6|2015-11-15 00:00:00|        0.99|    83453.76|1368.92| 73672.72| 93.26|   8318.86|   8196.81|    122.05|        0.0|conventional|2015|Albany|
|  7|2015-11-08 00:00:00|        0.98|   109428.33| 703.75|101815.36|  80.0|   6829.22|   6266.85|    562.37|        0.0|conventional|2015|Albany|
|  8|2015-11-01 00:00:00|        1.02|    99811.42|1022.15| 87315.57| 85.34|  11388.36|  11104.53|    283.83|        0.0|conventional|2015|Albany|
|  9|2015-10-25 00:00:00|        1.07|    74338.76|  842.4| 64757.44| 113.0|   8625.92|   8061.47|    564.45|        0.0|conventional|2015|Albany|
| 10|2015-10-18 00:00:00|        1.12|    84843.44| 924.86| 75595.85|117.07|   8205.66|   7877.86|     327.8|        0.0|conventional|2015|Albany|
| 11|2015-10-11 00:00:00|        1.28|    64489.17|1582.03| 52677.92|105.32|   10123.9|   9866.27|    257.63|        0.0|conventional|2015|Albany|
| 12|2015-10-04 00:00:00|        1.31|     61007.1|2268.32| 49880.67|101.36|   8756.75|   8379.98|    376.77|        0.0|conventional|2015|Albany|
| 13|2015-09-27 00:00:00|        0.99|   106803.39|1204.88| 99409.21|154.84|   6034.46|   5888.87|    145.59|        0.0|conventional|2015|Albany|
| 14|2015-09-20 00:00:00|        1.33|    69759.01|1028.03| 59313.12| 150.5|   9267.36|    8489.1|    778.26|        0.0|conventional|2015|Albany|
| 15|2015-09-13 00:00:00|        1.28|    76111.27| 985.73| 65696.86| 142.0|   9286.68|   8665.19|    621.49|        0.0|conventional|2015|Albany|
| 16|2015-09-06 00:00:00|        1.11|    99172.96| 879.45| 90062.62|240.79|    7990.1|   7762.87|    227.23|        0.0|conventional|2015|Albany|
| 17|2015-08-30 00:00:00|        1.07|   105693.84| 689.01| 94362.67|335.43|  10306.73|  10218.93|      87.8|        0.0|conventional|2015|Albany|
| 18|2015-08-23 00:00:00|        1.34|    79992.09| 733.16| 67933.79|444.78|  10880.36|  10745.79|    134.57|        0.0|conventional|2015|Albany|
| 19|2015-08-16 00:00:00|        1.33|    80043.78| 539.65| 68666.01| 394.9|  10443.22|  10297.68|    145.54|        0.0|conventional|2015|Albany|
+---+-------------------+------------+------------+-------+---------+------+----------+----------+----------+-----------+------------+----+------+
only showing top 20 rows

In [5]:
df.toPandas()

22/11/09 08:45:31 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , Date, AveragePrice, Total Volume, 4046, 4225, 4770, Total Bags, Small Bags, Large Bags, XLarge Bags, type, year, region
 Schema: _c0, Date, AveragePrice, Total Volume, 4046, 4225, 4770, Total Bags, Small Bags, Large Bags, XLarge Bags, type, year, region
Expected: _c0 but found:
CSV file: file:///Users/wiraramawedashwara/python/FGA/BPDFGA/avocado.csv

,_c0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18244,7,2018-02-04,1.63,17074.83,2046.96,1529.20,0.00,13498.67,13066.82,431.85,0.0,organic,2018,WestTexNewMexico
18245,8,2018-01-28,1.71,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,0.0,organic,2018,WestTexNewMexico
18246,9,2018-01-21,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.0,organic,2018,WestTexNewMexico
18247,10,2018-01-14,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.0,organic,2018,WestTexNewMexico
18248,11,2018-01-07,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.0,organic,2018,WestTexNewMexico

In [6]:
df.columns

['_c0',
 'Date',
 'AveragePrice',
 'Total Volume',
 '4046',
 '4225',
 '4770',
 'Total Bags',
 'Small Bags',
 'Large Bags',
 'XLarge Bags',
 'type',
 'year',
 'region']

In [7]:
df.count()

18249

In [10]:
df.summary().toPandas()

22/11/09 08:50:38 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , AveragePrice, Total Volume, 4046, 4225, 4770, Total Bags, Small Bags, Large Bags, XLarge Bags, type, year, region
 Schema: _c0, AveragePrice, Total Volume, 4046, 4225, 4770, Total Bags, Small Bags, Large Bags, XLarge Bags, type, year, region
Expected: _c0 but found:
CSV file: file:///Users/wiraramawedashwara/python/FGA/BPDFGA/avocado.csv

,summary,_c0,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,count,18249,18249,18249,18249,18249,18249,18249,18249,18249,18249,18249,18249,18249
1,mean,24.232231903117977,1.4059784097758825,850644.0130089332,293008.42453066056,295154.56835607596,22839.735992657315,239639.20205983953,182194.68669571026,54338.08814455636,3106.4265072058793,None,2016.1478985149872,None
2,stddev,15.48104475375712,0.4026765554955525,3453545.3553994684,1264989.0817627835,1204120.4011350533,107464.06843537069,986242.3992164108,746178.5149617895,243965.96454740898,17692.89465191642,None,0.9399384671420276,None
3,min,0,0.44,84.56,0.0,0.0,0.0,0.0,0.0,0.0,0.0,conventional,2015,Albany
4,25%,10,1.1,10830.75,853.38,3006.89,0.0,5078.45,2844.43,127.16,0.0,None,2015,None
5,50%,24,1.37,107306.08,8640.78,29054.71,184.62,39737.03,26339.6,2645.4,0.0,None,2016,None
6,75%,38,1.66,432903.0,110954.74,149994.79,6232.61,110773.22,83325.05,21945.2,132.23,None,2017,None
7,max,52,3.25,6.250564652E7,2.274361617E7,2.047057261E7,2546439.11,1.937313437E7,1.33845868E7,5719096.61,551693.65,organic,2018,WestTexNewMexico

In [12]:
df.describe().toPandas()

22/11/09 08:53:36 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , AveragePrice, Total Volume, 4046, 4225, 4770, Total Bags, Small Bags, Large Bags, XLarge Bags, type, year, region
 Schema: _c0, AveragePrice, Total Volume, 4046, 4225, 4770, Total Bags, Small Bags, Large Bags, XLarge Bags, type, year, region
Expected: _c0 but found:
CSV file: file:///Users/wiraramawedashwara/python/FGA/BPDFGA/avocado.csv

,summary,_c0,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,count,18249,18249,18249,18249,18249,18249,18249,18249,18249,18249,18249,18249,18249
1,mean,24.232231903117977,1.4059784097758825,850644.0130089332,293008.42453066056,295154.56835607596,22839.735992657315,239639.20205983953,182194.68669571026,54338.08814455636,3106.4265072058793,None,2016.1478985149872,None
2,stddev,15.48104475375712,0.4026765554955525,3453545.3553994684,1264989.0817627835,1204120.4011350533,107464.06843537069,986242.3992164108,746178.5149617895,243965.96454740898,17692.89465191642,None,0.9399384671420276,None
3,min,0,0.44,84.56,0.0,0.0,0.0,0.0,0.0,0.0,0.0,conventional,2015,Albany
4,max,52,3.25,6.250564652E7,2.274361617E7,2.047057261E7,2546439.11,1.937313437E7,1.33845868E7,5719096.61,551693.65,organic,2018,WestTexNewMexico

In [18]:
df.corr("XLarge Bags","Large Bags")

0.7108584145941232

In [24]:
col = ['AveragePrice',
 'Total Volume',
 '4046',
 '4225',
 '4770',
 'Total Bags',
 'Small Bags',
 'Large Bags',
 'XLarge Bags',
 'year',]
for x in col:
    for y in col:
        corr = df.corr(x,y)
        if abs(corr) > 0.8 and abs(corr)!=1.0:
            print(x,y,end=":")
            print(corr)

Total Volume 4046:0.9778631590229224
Total Volume 4225:0.9741808201308975
Total Volume 4770:0.8722022504250324
Total Volume Total Bags:0.9630470824267339
Total Volume Small Bags:0.9672382368680971
Total Volume Large Bags:0.8806396331164
4046 Total Volume:0.9778631590229224
4046 4225:0.926109955899224
4046 4770:0.8333891041719115
4046 Total Bags:0.9200565807019708
4046 Small Bags:0.9252798719634173
4046 Large Bags:0.838645015263634
4225 Total Volume:0.9741808201308975
4225 4046:0.926109955899224
4225 4770:0.8878549976059513
4225 Total Bags:0.9057874532770254
4225 Small Bags:0.9160312328984755
4225 Large Bags:0.810015225636635
4770 Total Volume:0.8722022504250324
4770 4046:0.8333891041719115
4770 4225:0.8878549976059513
4770 Small Bags:0.8027329540577235
Total Bags Total Volume:0.9630470824267338
Total Bags 4046:0.9200565807019708
Total Bags 4225:0.9057874532770255
Total Bags Small Bags:0.9943345526459607
Total Bags Large Bags:0.9430090688934669
Total Bags XLarge Bags:0.804232589842153
Small Bags Total Volume:0.9672382368680971
Small Bags 4046:0.9252798719634173
Small Bags 4225:0.9160312328984755
Small Bags 4770:0.8027329540577235
Small Bags Total Bags:0.9943345526459607
Small Bags Large Bags:0.9025888652939337
Small Bags XLarge Bags:0.806844626999287
Large Bags Total Volume:0.8806396331164
Large Bags 4046:0.838645015263634
Large Bags 4225:0.810015225636635
Large Bags Total Bags:0.9430090688934671
Large Bags Small Bags:0.9025888652939337
XLarge Bags Total Bags:0.804232589842153
XLarge Bags Small Bags:0.8068446269992872

In [25]:
df.cov('Small Bags','Large Bags')

164309227647.46048

In [26]:
df.freqItems(['Small Bags','Large Bags','XLarge Bags'],support=0.01).show()

+--------------------+--------------------+---------------------+
|Small Bags_freqItems|Large Bags_freqItems|XLarge Bags_freqItems|
+--------------------+--------------------+---------------------+
|               [0.0]|[146808.97, 17438...| [170.19, 5.86, 10...|
+--------------------+--------------------+---------------------+

In [27]:
df['Small Bags','Large Bags','XLarge Bags'].filter((df['Small Bags']<2.0) & (df['Large Bags']>4.0)).show()

+----------+----------+-----------+
|Small Bags|Large Bags|XLarge Bags|
+----------+----------+-----------+
|       0.0|   1514.27|        0.0|
|       0.0|   1129.03|        0.0|
|       0.0|    139.12|        0.0|
|       0.0|     22.28|        0.0|
|       0.0|   1418.78|        0.0|
|       0.0|    2109.8|        0.0|
|       0.0|    537.94|        0.0|
|       0.0|    710.72|        0.0|
|       0.0|     67.73|        0.0|
|       0.0|    395.55|        0.0|
|       0.0|   2731.55|        0.0|
|       0.0|   2742.71|        0.0|
|       0.0|   2541.42|        0.0|
|       0.0|    227.23|        0.0|
|       0.0|    334.88|        0.0|
|       0.0|   1553.77|        0.0|
|       0.0|    438.58|        0.0|
|       0.0|    284.89|        0.0|
|       0.0|    507.55|        0.0|
|       0.0|    651.59|        0.0|
+----------+----------+-----------+
only showing top 20 rows

In [31]:
df['type','region'].dropDuplicates(['type','region']).show(108)

+------------+-------------------+
|        type|             region|
+------------+-------------------+
|conventional|         Louisville|
|     organic|            Chicago|
|conventional|       Jacksonville|
|conventional|      SouthCarolina|
|conventional|            Orlando|
|     organic|       Philadelphia|
|conventional|       Philadelphia|
|     organic|      SouthCarolina|
|conventional|           LasVegas|
|conventional|          Charlotte|
|conventional|           Columbus|
|conventional|            NewYork|
|     organic|             Albany|
|     organic|            TotalUS|
|conventional|    RichmondNorfolk|
|conventional|            Roanoke|
|conventional|             Albany|
|     organic|           SanDiego|
|conventional|      DallasFtWorth|
|conventional|   WestTexNewMexico|
|     organic|            Atlanta|
|conventional| HarrisburgScranton|
|conventional|      PhoenixTucson|
|     organic|      PhoenixTucson|
|     organic|      DallasFtWorth|
|conventional|             Boston|
|     organic|            StLouis|
|     organic|         Louisville|
|     organic|              Tampa|
|     organic|       Indianapolis|
|conventional|               West|
|conventional|          Northeast|
|conventional|            Seattle|
|     organic| HarrisburgScranton|
|conventional|            Atlanta|
|     organic|         LosAngeles|
|     organic|   NewOrleansMobile|
|conventional|         Pittsburgh|
|     organic|            Orlando|
|conventional|            StLouis|
|conventional|         Sacramento|
|conventional|BaltimoreWashington|
|     organic|          Charlotte|
|conventional|         LosAngeles|
|     organic|          Nashville|
|conventional|            Houston|
|conventional|       SouthCentral|
|conventional|   CincinnatiDayton|
|conventional|         California|
|conventional|HartfordSpringfield|
|conventional|          Southeast|
|     organic|       Jacksonville|
|     organic|             Denver|
|     organic|            Spokane|
|     organic|         California|
|conventional|         GreatLakes|
|     organic|   BuffaloRochester|
|conventional|            TotalUS|
|conventional|             Plains|
|conventional|              Tampa|
|     organic|           Syracuse|
|conventional|            Spokane|
|     organic|           Columbus|
|     organic|             Plains|
|     organic|             Boston|
|conventional| NorthernNewEngland|
|     organic|        GrandRapids|
|conventional|           Midsouth|
|conventional|       SanFrancisco|
|     organic|    RichmondNorfolk|
|conventional|  RaleighGreensboro|
|     organic|            Detroit|
|     organic| NorthernNewEngland|
|conventional|              Boise|
|conventional|           Syracuse|
|     organic|            Houston|
|     organic|  RaleighGreensboro|
|     organic|   CincinnatiDayton|
|conventional|        GrandRapids|
|     organic|  MiamiFtLauderdale|
|conventional|  MiamiFtLauderdale|
|     organic|   WestTexNewMexico|
|     organic|BaltimoreWashington|
|     organic|         GreatLakes|
|     organic|           Midsouth|
|     organic|           LasVegas|
|     organic|          Northeast|
|     organic|       SanFrancisco|
|     organic|           Portland|
|     organic|               West|
|conventional|   NewOrleansMobile|
|     organic|         Sacramento|
|     organic|            NewYork|
|     organic|         Pittsburgh|
|     organic|       SouthCentral|
|conventional|             Denver|
|conventional|          Nashville|
|conventional|           SanDiego|
|     organic|              Boise|
|     organic|HartfordSpringfield|
|conventional|       Indianapolis|
|     organic|            Roanoke|
|conventional|   BuffaloRochester|
|conventional|           Portland|
|     organic|            Seattle|
|conventional|            Detroit|
|     organic|          Southeast|
|conventional|            Chicago|
+------------+-------------------+

In [32]:
df.distinct().count()

22/11/09 09:11:15 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , Date, AveragePrice, Total Volume, 4046, 4225, 4770, Total Bags, Small Bags, Large Bags, XLarge Bags, type, year, region
 Schema: _c0, Date, AveragePrice, Total Volume, 4046, 4225, 4770, Total Bags, Small Bags, Large Bags, XLarge Bags, type, year, region
Expected: _c0 but found:
CSV file: file:///Users/wiraramawedashwara/python/FGA/BPDFGA/avocado.csv

18249

In [33]:
test = (df.collect())

22/11/09 09:11:28 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , Date, AveragePrice, Total Volume, 4046, 4225, 4770, Total Bags, Small Bags, Large Bags, XLarge Bags, type, year, region
 Schema: _c0, Date, AveragePrice, Total Volume, 4046, 4225, 4770, Total Bags, Small Bags, Large Bags, XLarge Bags, type, year, region
Expected: _c0 but found:
CSV file: file:///Users/wiraramawedashwara/python/FGA/BPDFGA/avocado.csv

In [ ]:
test

In [ ]:
for x in df.collect():
    print(x[7]+x[8])

In [35]:
df.createOrReplaceTempView("avocadoEnak")

In [37]:
res = spark.sql("SELECT `Small Bags`,`Large Bags`,`XLarge Bags` FROM avocadoEnak WHERE `Small Bags`>4 AND `Large Bags`>2 SORT BY `XLarge Bags`,`Small Bags` DESC")

In [38]:
res.show()

+----------+----------+-----------+
|Small Bags|Large Bags|XLarge Bags|
+----------+----------+-----------+
|1171614.36|  60004.46|        0.0|
|1153104.63|  67661.22|        0.0|
|1120295.45|  89874.67|        0.0|
|1021991.63|  80732.13|        0.0|
| 984678.78| 131232.57|        0.0|
|  984377.9|  77610.55|        0.0|
| 958452.62|  61310.05|        0.0|
|  944572.5|  180049.0|        0.0|
| 920108.45|  81630.45|        0.0|
| 903840.54|  100787.4|        0.0|
| 896750.09| 109953.33|        0.0|
|  869351.0|  170377.0|        0.0|
| 867106.18|  62961.12|        0.0|
| 864046.29|  65744.96|        0.0|
| 860636.05|  79402.19|        0.0|
| 843930.39|   92714.0|        0.0|
|  820402.0|  296888.0|        0.0|
|  810060.6|  84287.77|        0.0|
| 796190.93|  84913.39|        0.0|
| 795311.93| 178099.61|        0.0|
+----------+----------+-----------+
only showing top 20 rows

In [39]:
res.summary().show()

+-------+------------------+------------------+-----------------+
|summary|        Small Bags|        Large Bags|      XLarge Bags|
+-------+------------------+------------------+-----------------+
|  count|             15701|             15701|            15701|
|   mean|210053.41584293998|63136.251897968425|3604.243065409845|
| stddev| 800939.0257660663|261962.62446877174|19027.55334315743|
|    min|              4.44|              2.08|              0.0|
|    25%|           5135.22|            662.87|              0.0|
|    50%|          37977.13|           4667.13|              0.0|
|    75%|           95448.1|          30236.34|           346.67|
|    max|      1.33845868E7|        5719096.61|        551693.65|
+-------+------------------+------------------+-----------------+

sampai sini

https://goodboychan.github.io/python/datacamp/pyspark/machine_learning/2020/08/10/03-Classification-in-PySpark.html

In [ ]:
import re

# remove any non-words and split lines into separate words
# finally, convert all words to lowercase
def splitter(line):
    line = re.sub(r'^\W+|\W+$', '', line)
    return map(str.lower, re.split(r'\W+', line))
    
sums = {}
try:
    in_file = open('pg2701.txt', 'r')

    for line in in_file:
        for word in splitter(line):
            word = word.lower()
            sums[word] = sums.get(word, 0) + 1
                 
    in_file.close()

except IOError:
    print("error performing file operation")
else:
    M = max(sums.iterkeys(), key=lambda k: sums[k])
    print("max: %s = %d" % (M, sums[M]))