In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master('local[*]').appName('test').getOrCreate()
df = spark.read.csv('avocado.csv', sep=',', header=True, inferSchema=True,
                         nullValue='NA')
df.show(50)

+---+----------+------------+------------+-------+---------+-------+----------+----------+----------+-----------+------------+----+------+
|_c0|      Date|AveragePrice|Total Volume|   4046|     4225|   4770|Total Bags|Small Bags|Large Bags|XLarge Bags|        type|year|region|
+---+----------+------------+------------+-------+---------+-------+----------+----------+----------+-----------+------------+----+------+
|  0|2015-12-27|        1.33|    64236.62|1036.74| 54454.85|  48.16|   8696.87|   8603.62|     93.25|        0.0|conventional|2015|Albany|
|  1|2015-12-20|        1.35|    54876.98| 674.28| 44638.81|  58.33|   9505.56|   9408.07|     97.49|        0.0|conventional|2015|Albany|
|  2|2015-12-13|        0.93|   118220.22|  794.7|109149.67|  130.5|   8145.35|   8042.21|    103.14|        0.0|conventional|2015|Albany|
|  3|2015-12-06|        1.08|    78992.15| 1132.0| 71976.41|  72.58|   5811.16|    5677.4|    133.76|        0.0|conventional|2015|Albany|
|  4|2015-11-29|        1.28|     51039.6| 941.48| 43838.39|  75.78|   6183.95|   5986.26|    197.69|        0.0|conventional|2015|Albany|
|  5|2015-11-22|        1.26|    55979.78|1184.27| 48067.99|  43.61|   6683.91|   6556.47|    127.44|        0.0|conventional|2015|Albany|
|  6|2015-11-15|        0.99|    83453.76|1368.92| 73672.72|  93.26|   8318.86|   8196.81|    122.05|        0.0|conventional|2015|Albany|
|  7|2015-11-08|        0.98|   109428.33| 703.75|101815.36|   80.0|   6829.22|   6266.85|    562.37|        0.0|conventional|2015|Albany|
|  8|2015-11-01|        1.02|    99811.42|1022.15| 87315.57|  85.34|  11388.36|  11104.53|    283.83|        0.0|conventional|2015|Albany|
|  9|2015-10-25|        1.07|    74338.76|  842.4| 64757.44|  113.0|   8625.92|   8061.47|    564.45|        0.0|conventional|2015|Albany|
| 10|2015-10-18|        1.12|    84843.44| 924.86| 75595.85| 117.07|   8205.66|   7877.86|     327.8|        0.0|conventional|2015|Albany|
| 11|2015-10-11|        1.28|    64489.17|1582.03| 52677.92| 105.32|   10123.9|   9866.27|    257.63|        0.0|conventional|2015|Albany|
| 12|2015-10-04|        1.31|     61007.1|2268.32| 49880.67| 101.36|   8756.75|   8379.98|    376.77|        0.0|conventional|2015|Albany|
| 13|2015-09-27|        0.99|   106803.39|1204.88| 99409.21| 154.84|   6034.46|   5888.87|    145.59|        0.0|conventional|2015|Albany|
| 14|2015-09-20|        1.33|    69759.01|1028.03| 59313.12|  150.5|   9267.36|    8489.1|    778.26|        0.0|conventional|2015|Albany|
| 15|2015-09-13|        1.28|    76111.27| 985.73| 65696.86|  142.0|   9286.68|   8665.19|    621.49|        0.0|conventional|2015|Albany|
| 16|2015-09-06|        1.11|    99172.96| 879.45| 90062.62| 240.79|    7990.1|   7762.87|    227.23|        0.0|conventional|2015|Albany|
| 17|2015-08-30|        1.07|   105693.84| 689.01| 94362.67| 335.43|  10306.73|  10218.93|      87.8|        0.0|conventional|2015|Albany|
| 18|2015-08-23|        1.34|    79992.09| 733.16| 67933.79| 444.78|  10880.36|  10745.79|    134.57|        0.0|conventional|2015|Albany|
| 19|2015-08-16|        1.33|    80043.78| 539.65| 68666.01|  394.9|  10443.22|  10297.68|    145.54|        0.0|conventional|2015|Albany|
| 20|2015-08-09|        1.12|   111140.93| 584.63|100961.46| 368.95|   9225.89|   9116.34|    109.55|        0.0|conventional|2015|Albany|
| 21|2015-08-02|        1.45|     75133.1| 509.94| 62035.06| 741.08|  11847.02|  11768.52|      78.5|        0.0|conventional|2015|Albany|
| 22|2015-07-26|        1.11|    106757.1| 648.75| 91949.05| 966.61|  13192.69|  13061.53|    131.16|        0.0|conventional|2015|Albany|
| 23|2015-07-19|        1.26|     96617.0| 1042.1|  82049.4|2238.02|  11287.48|  11103.49|    183.99|        0.0|conventional|2015|Albany|
| 24|2015-07-12|        1.05|   124055.31| 672.25| 94693.52|4257.64|   24431.9|  24290.08|    108.49|      33.33|conventional|2015|Albany|
| 25|2015-07-05|        1.35|   109252.12| 869.45| 72600.55|5883.16|  29898.96|  29663.19|    235.77|        0.0|conventional|2015|Albany|
| 26|2015-06-28|        1.37|    89534.81| 664.23| 57545.79|4662.71|  26662.08|  26311.76|    350.32|        0.0|conventional|2015|Albany|
| 27|2015-06-21|        1.27|   104849.39| 804.01| 76688.55|5481.18|  21875.65|   21662.0|    213.65|        0.0|conventional|2015|Albany|
| 28|2015-06-14|        1.32|     89631.3| 850.58| 55400.94|4377.19|  29002.59|  28343.14|    659.45|        0.0|conventional|2015|Albany|
| 29|2015-06-07|        1.07|   122743.06| 656.71| 99220.82|  90.32|  22775.21|  22314.99|    460.22|        0.0|conventional|2015|Albany|
| 30|2015-05-31|        1.23|    95123.62| 922.37| 70469.69|  50.55|  23681.01|  23222.49|    458.52|        0.0|conventional|2015|Albany|
| 31|2015-05-24|        1.19|   101470.91| 680.27| 71376.81|   58.7|  29355.13|  28761.81|    593.32|        0.0|conventional|2015|Albany|
| 32|2015-05-17|        1.43|   109857.47|1150.55| 81955.16|  94.32|  26657.44|  26285.43|    372.01|        0.0|conventional|2015|Albany|
| 33|2015-05-10|        1.26|   120427.91|1420.43|102000.52| 185.66|   16821.3|  16535.55|    285.75|        0.0|conventional|2015|Albany|
| 34|2015-05-03|         1.2|    59197.67| 919.87| 45490.05| 217.24|  12570.51|  12201.95|    368.56|        0.0|conventional|2015|Albany|
| 35|2015-04-26|        1.22|    49585.46| 875.65| 35841.75|  89.62|  12778.44|  12076.83|    701.61|        0.0|conventional|2015|Albany|
| 36|2015-04-19|        1.19|    49064.73| 774.15| 33941.51|  47.15|  14301.92|  13602.97|    698.95|        0.0|conventional|2015|Albany|
| 37|2015-04-12|        1.13|    48364.29| 864.27| 30374.15|   21.5|  17104.37|  16438.49|    665.88|        0.0|conventional|2015|Albany|
| 38|2015-04-05|        1.16|    47362.13| 961.77| 35577.66|  93.76|  10728.94|   9869.16|    755.61|     104.17|conventional|2015|Albany|
| 39|2015-03-29|        1.02|    67799.08|1402.28| 58623.22|   89.5|   7684.08|   7208.49|    475.59|        0.0|conventional|2015|Albany|
| 40|2015-03-22|        1.12|    46346.85|2141.83| 34313.56|  141.8|   9749.66|    9252.6|    497.06|        0.0|conventional|2015|Albany|
| 41|2015-03-15|        1.11|    43045.79|2128.26| 30447.17|  99.67|  10370.69|   9989.59|     381.1|        0.0|conventional|2015|Albany|
| 42|2015-03-08|        1.07|    40507.36| 795.68| 30370.64| 159.05|   9181.99|   8827.55|    354.44|        0.0|conventional|2015|Albany|
| 43|2015-03-01|        0.99|    55595.74| 629.46| 45633.34| 181.49|   9151.45|   8986.06|    165.39|        0.0|conventional|2015|Albany|
| 44|2015-02-22|        1.07|    45675.05|1088.38| 35056.13|  151.0|   9379.54|   9000.16|    379.38|        0.0|conventional|2015|Albany|
| 45|2015-02-15|        1.06|    41567.62| 986.66| 30045.51| 222.42|  10313.03|   9979.87|    333.16|        0.0|conventional|2015|Albany|
| 46|2015-02-08|        0.99|    51253.97|1357.37| 39111.81| 163.25|  10621.54|   10113.1|    508.44|        0.0|conventional|2015|Albany|
| 47|2015-02-01|        0.99|     70873.6| 1353.9|  60017.2| 179.32|   9323.18|   9170.82|    152.36|        0.0|conventional|2015|Albany|
| 48|2015-01-25|        1.06|     45147.5| 941.38| 33196.16| 164.14|  10845.82|  10103.35|    742.47|        0.0|conventional|2015|Albany|
| 49|2015-01-18|        1.17|    44511.28| 914.14| 31540.32| 135.77|  11921.05|  11651.09|    269.96|        0.0|conventional|2015|Albany|
+---+----------+------------+------------+-------+---------+-------+----------+----------+----------+-----------+------------+----+------+
only showing top 50 rows

- Ganti Data menjadi VG Sales dengan feature = JP, NA, EU, Global
- Label Platform atau Genre (salah satu saja)

In [2]:
df.toPandas()

,_c0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18244,7,2018-02-04,1.63,17074.83,2046.96,1529.20,0.00,13498.67,13066.82,431.85,0.0,organic,2018,WestTexNewMexico
18245,8,2018-01-28,1.71,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,0.0,organic,2018,WestTexNewMexico
18246,9,2018-01-21,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.0,organic,2018,WestTexNewMexico
18247,10,2018-01-14,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.0,organic,2018,WestTexNewMexico
18248,11,2018-01-07,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.0,organic,2018,WestTexNewMexico

In [3]:
from pyspark.ml.feature import StringIndexer
indexer = StringIndexer(inputCol='region', outputCol='label')
indexer_model = indexer.fit(df)
df_indexed = indexer_model.transform(df)

In [5]:
df_indexed.toPandas()

,_c0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region,label
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany,0.0
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany,0.0
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany,0.0
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany,0.0
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18244,7,2018-02-04,1.63,17074.83,2046.96,1529.20,0.00,13498.67,13066.82,431.85,0.0,organic,2018,WestTexNewMexico,53.0
18245,8,2018-01-28,1.71,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,0.0,organic,2018,WestTexNewMexico,53.0
18246,9,2018-01-21,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.0,organic,2018,WestTexNewMexico,53.0
18247,10,2018-01-14,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.0,organic,2018,WestTexNewMexico,53.0
18248,11,2018-01-07,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.0,organic,2018,WestTexNewMexico,53.0

In [6]:
from pyspark.ml.feature import VectorAssembler
assembler = VectorAssembler(inputCols=['Small Bags','Large Bags','XLarge Bags'],
                            outputCol='features')
df_assembled = assembler.transform(df_indexed)
df_assembled.select('features', 'label').show(5, truncate=False)

+--------------------+-----+
|features            |label|
+--------------------+-----+
|[8603.62,93.25,0.0] |0.0  |
|[9408.07,97.49,0.0] |0.0  |
|[8042.21,103.14,0.0]|0.0  |
|[5677.4,133.76,0.0] |0.0  |
|[5986.26,197.69,0.0]|0.0  |
+--------------------+-----+
only showing top 5 rows

In [7]:
df_train, df_test = df_assembled.randomSplit([0.8, 0.2], seed=35)
training_ratio = df_train.count() / df_assembled.count()
print(training_ratio)

0.7958244287358212

In [8]:
from pyspark.ml.classification import DecisionTreeClassifier
tree = DecisionTreeClassifier()
tree_model = tree.fit(df_train)
prediction = tree_model.transform(df_test)
prediction.select('label', 'prediction', 'probability').toPandas()

      label  prediction                                        probability
0       9.0         9.0  [0.0, 0.011695906432748537, 0.0, 0.01461988304...
1       3.0        10.0  [0.03113006396588486, 0.029424307036247335, 0....
2      26.0        10.0  [0.03113006396588486, 0.029424307036247335, 0....
3      50.0        50.0  [0.0, 0.031880977683315624, 0.0, 0.00106269925...
4      38.0        30.0  [0.002307692307692308, 0.0007692307692307692, ...
...     ...         ...                                                ...
3721   38.0        42.0  [0.07094972067039106, 0.0011173184357541898, 0...
3722   37.0        10.0  [0.03113006396588486, 0.029424307036247335, 0....
3723   30.0        30.0  [0.002307692307692308, 0.0007692307692307692, ...
3724   29.0        16.0  [0.0, 0.003403014098201264, 0.0034030140982012...
3725   17.0        10.0  [0.03113006396588486, 0.029424307036247335, 0....

[3726 rows x 3 columns]

In [9]:
prediction.select('label', 'prediction', 'probability').toPandas()

      label  prediction                                        probability
0       9.0         9.0  [0.0, 0.011695906432748537, 0.0, 0.01461988304...
1       3.0        10.0  [0.03113006396588486, 0.029424307036247335, 0....
2      26.0        10.0  [0.03113006396588486, 0.029424307036247335, 0....
3      50.0        50.0  [0.0, 0.031880977683315624, 0.0, 0.00106269925...
4      38.0        30.0  [0.002307692307692308, 0.0007692307692307692, ...
...     ...         ...                                                ...
3721   38.0        42.0  [0.07094972067039106, 0.0011173184357541898, 0...
3722   37.0        10.0  [0.03113006396588486, 0.029424307036247335, 0....
3723   30.0        30.0  [0.002307692307692308, 0.0007692307692307692, ...
3724   29.0        16.0  [0.0, 0.003403014098201264, 0.0034030140982012...
3725   17.0        10.0  [0.03113006396588486, 0.029424307036247335, 0....

[3726 rows x 3 columns]

In [10]:
TP = prediction.filter('label = prediction').count()
FP = prediction.filter('label != prediction').count()
accuracy = TP / (TP+FP)
print("True Positive ",TP)
print("False Positive ",FP)
print("Accuracy ",accuracy)

True Positive  494
False Positive  3232
Accuracy  0.13258185721953838