In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
from sqlalchemy import create_engine
from pandas.io import sql

In [2]:
df = pd.read_csv('vgsales.csv')

In [4]:
engine = create_engine('sqlite:///:memory:')
df.to_sql('vgsales',engine)

16598

In [ ]:
nim = 17
awal =

buatlah query (Name,Platform,Year,Genre,Publisher,Global_Sales) dengan limit nim(3digit nim kalian)*10 sampai nim*10+200

In [9]:
res = pd.read_sql_query(
    "SELECT Name,Platform,Year,Genre,Publisher,Global_Sales "+
    "FROM vgsales ORDER BY Rank ASC LIMIT 170,370",engine)

In [10]:
res

,Name,Platform,Year,Genre,Publisher,Global_Sales
0,Dr. Mario,GB,1989.0,Puzzle,Nintendo,5.34
1,Pokemon Pinball,GB,1999.0,Misc,Nintendo,5.31
2,Assassin's Creed III,X360,2012.0,Action,Ubisoft,5.30
3,Final Fantasy IX,PS,2000.0,Role-Playing,SquareSoft,5.30
4,Final Fantasy X-2,PS2,2003.0,Role-Playing,Electronic Arts,5.29
...,...,...,...,...,...,...
365,Professor Layton and the Last Specter,DS,2009.0,Puzzle,Nintendo,2.79
366,Monster Hunter Tri,3DS,2011.0,Role-Playing,Nintendo,2.79
367,Jak II,PS2,2003.0,Platform,Sony Computer Entertainment,2.78
368,inFAMOUS: Second Son,PS4,2014.0,Action,Sony Computer Entertainment,2.78
369,Ratchet & Clank: Going Commando,PS2,2003.0,Platform,Sony Computer Entertainment,2.78

In [11]:
df.iloc[170:370]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
170,171,Dr. Mario,GB,1989.0,Puzzle,Nintendo,2.18,0.96,2.00,0.20,5.34
171,172,Pokemon Pinball,GB,1999.0,Misc,Nintendo,3.02,1.12,1.01,0.16,5.31
172,173,Assassin's Creed III,X360,2012.0,Action,Ubisoft,3.13,1.71,0.03,0.44,5.30
173,174,Final Fantasy IX,PS,2000.0,Role-Playing,SquareSoft,1.62,0.77,2.78,0.14,5.30
174,175,Final Fantasy X-2,PS2,2003.0,Role-Playing,Electronic Arts,1.92,1.08,2.11,0.17,5.29
...,...,...,...,...,...,...,...,...,...,...,...
365,366,Battlefield 4,X360,2013.0,Shooter,Electronic Arts,2.14,1.08,0.02,0.29,3.53
366,367,FIFA Soccer 11,X360,2010.0,Sports,Electronic Arts,0.71,2.40,0.02,0.40,3.53
367,368,Rugrats in Paris: The Movie,PS,2000.0,Action,THQ,1.96,1.33,0.00,0.23,3.52
368,369,Spyro 2: Ripto's Rage!,PS,1999.0,Platform,Sony Computer Entertainment,2.14,1.21,0.01,0.17,3.52
369,370,Left 4 Dead,X360,2008.0,Shooter,Electronic Arts,2.66,0.50,0.05,0.30,3.52