In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
from sqlalchemy import create_engine
from pandas.io import sql

In [2]:
df = pd.read_csv('vgsales.csv')

In [4]:
engine = create_engine('sqlite:///:memory:')
df.to_sql('vgsales',engine)

16598

buatlah query (Name,Platform,Year,Genre,Publisher,Global_Sales) dengan limit nim(3digit nim kalian)*10 sampai nim*10+200

In [8]:
res = pd.read_sql_query(
    "SELECT Name,Platform,Year,Genre,Publisher,Global_Sales "+
    "FROM vgsales ORDER BY Rank ASC LIMIT 170,370",engine)

In [7]:
res

,Name,Platform,Year,Genre,Publisher
0,Tetris Worlds,PS2,2002.0,Puzzle,THQ
1,Need For Speed: Undercover,PS3,2008.0,Racing,Electronic Arts
2,Dance Dance Revolution: Hottest Party,Wii,2007.0,Simulation,Konami Digital Entertainment
3,Mario Party 5,GC,2003.0,Misc,Nintendo
4,Ghostbusters: The Video Game (DS Version),PS3,2010.0,Action,Take-Two Interactive
...,...,...,...,...,...
1012,Alien: Isolation,PS4,2014.0,Shooter,Sega
1013,Yakuza 3,PS3,2009.0,Action,Sega
1014,Pokémon Mystery Dungeon: Red Rescue Team (US w...,GBA,2005.0,Role-Playing,Nintendo
1015,The Beatles: Rock Band,PS3,2009.0,Misc,MTV Games
1016,Dragon Age II,X360,2011.0,Action,Electronic Arts